@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* Cores e fontes usadas na página */
:root {
    --cor0: #D9BA5F;  /* fundo geral */
    --cor1: #D9BA5F; /* ok trocada dourada */
    --cor2: #4E7FBF; /* para fundo dos blocos */
    --cor3: #16288C; /* ok trocada escura */
    --cor4: #1B2FA6; /* hover do nav */
    --cor5: #456EBF; /* ok trocada clara */
    --cor6: #DFD1A5;  /*bege clarinho*/
    --cor7: #FEFAE7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

#logo {
max-width: 100%; /* imagem adapta ao tamanho da tela*/
border-radius: 150px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: min(3em, 10vw);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

body {
background-image: linear-gradient(to top, var(--cor0), var(--cor7));
}

nav {
    text-align: center;
    background-color: var(--cor5);
    max-width: 1440px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav > a {
    color: var(--cor1);
    padding: min(10px, 5px);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: min(1.5em, 5vw);
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor5)
}

main {
    max-width: 1252px;
    height: auto;
    margin: auto;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #4E7FBF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    max-width: 100%;
    width: 1251px;
    height: 1070;
    margin: auto;
    margin-bottom: 0px;
    padding: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}
section > h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: min(1.5em, 5vw);
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor1), var(--cor7));
    text-align: center;
    text-indent: 8px;
}
#foto  {
    max-width: 100%;
    width: 1250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor4);
    font-size: min(1.5em, 5vw);
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor1), var(--cor7));
    text-align: left;
    text-indent: 30px;
}

main p {
    margin: 30px;
    text-align: center;
    text-indent: 0px;
    font-size: min(1.2em, 5vw);
}

.alinha {
display: flex;
justify-content: center;
align-items: center;
}

button {
width: 150px;
height: 150px;
margin-left: 4vh;
margin-top: 5px;
margin-bottom: 2.5px;
background: rgba(255, 255, 255, .1);
}
button:hover{
    opacity: 0.5;
}

#map {
  height: 400px;
  width: 100%;
}

.contato {
  padding: 60px 20%;
}

.contato .contato-card {
    width: 100%;
    border-radius: 8px;
    top: calc(50% - 150px);
}

.botao {
width: 178px;
height: 80px;
background: rgba(255, 255, 255, .1);
margin-top: 5px;
margin-left: 6vh;
margin-bottom: 5px;
}

.contato .contato-card button:hover{
    opacity: 0.5;
}

h4 {
display:flex;
align-items: center;
justify-content: center;
padding: 20px;
background-color: cornflowerblue;
color: white;
font-family: Cambria, Arial;
font-size: min(1.5em, 5vw);
}

.mensagem {
display: flex;
align-items: center;
justify-content: center;
height: 80vh;
}

form {
font-family: Arial;
}

form div {
display: flex;
flex-direction: column;
margin-bottom: 30px;
}

form input, form textarea {
outline: unset;
padding: 20px;
min-width: 300px;
border: 1px solid cornflowerblue;
border-radius: 20px;
}

form input:focus, form textarea:focus {
background-color: wheat;
}

form input[type=submit] {
background-color: cornflowerblue;
color: white;
cursor: pointer;
font-size: min(2em, 5vw);
font-weight: bold;
}

form label {
margin-left: 10px;
}

#topo {
    position: fixed;
    right: 20px;
    bottom: 10px;
}
footer {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    color: white;
    text-align: center;
    font-size: min(0.8em, 5vw);
    padding: 5px;
}

.galeria{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

}
.galeria img{
    cursor: pointer;
    width: 150px;
    margin-top: 5px;
    margin-left: 8.8vh;
    margin-bottom: 2.5px;
}

.galeria img:hover{
    opacity: 0.5;
}

.conteiner{
    position: relative;
    display: none;
    width: 60%;
    margin: auto;
}

.conteiner img{
    width: 100%;
}

.btnFechar{
    width: 18px;
   	height: 18px;
   	text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #456EBF;
    cursor: pointer;
}

.container h5 {
display:flex;
font-size: min(1.2em, 5vw);
align-items: center;
justify-content: center;
padding: 10px;
}

section#comentei {
  max-width: 100%;
  padding: 2rem;
  overflow-x: auto;
}

 section#comentei table {
   border-collapse: collapse;
   width: 100%;
   border-spacing: 0;
 }

section#comentei table th, td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

section#comentei table a {
   padding: 1rem;
   color: #3359ec;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
 }

 section#comentei table a:hover{
    color: #D9BA5F;
 }

section.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000080;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

section.modal div#card{
  width: 30rem;
  position: relative;
  background-color: #fff;
  border-radius: .5rem;
}

section.modal div#card h2{
  padding: 2rem;
  text-align: center;
  margin: 0;
  color: #0130ec;
}

section.modal div#card hr{
  width: 90%;
  margin: 0 auto;
}

section.modal div#card p{
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

section.modal div#card div#btns{
  display: flex;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}

section.modal div#card div#btns a{
  text-decoration: none;
  padding: .9rem;
  border-radius: .5rem;
  width: 7rem;
  text-align: center;
}

section.modal div#card div#btns a.btn-cancelar{
  background-color: #fff;
  color: red;
  border: solid 1px red;
  margin-right: 1rem;
  transition: all .5s ease-out;
}

section.modal div#card div#btns a.btn-cancelar:hover{
  background-color: red;
  color: #fff;
}

section.modal div#card div#btns a.btn-apagar{
  background-color: #fff;
  color: #0130ec;
  border: solid 1px #0130ec;
  transition: all .5s ease-out;
}

section.modal div#card div#btns a.btn-apagar:hover{
  background-color: #0130ec;
  color: #fff;
}
