<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/estilo.css') }} ">
    <title>Editar ou Apagar</title>
</head>
<body>

<section id="novo">

    <div id="card">
        <h4>Editar Comentário</h4>

        <form action="/edita/{{comenta.id}}" method="POST">
            <div class="label-float">
                <input type="text" maxlength="50" id="nome" name="nome" placeholder=" " required value='{{comenta.nome}}' >
                <label for="nome">Nome</label>
            </div>

            <div class="label-float">
                <input type="text" maxlength="300" id="comentario" name="comentario" placeholder=" " required value='{{comenta.comentario}}' >
                <label for="comentario">Comentario</label>
            </div>

            <div class="justify-center">
                <button type="submit">Atualizar</button>
            </div>
        </form>
    </div>

</section>

</body>
</html>
