    {% extends 'base.html' %}

    {% block conteudo%}
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Mensagem</title>

<body>

    <section class="container">

        <h2>Mensagem</h2>

        <h4>Formulário de Contato</h4>

        <section class="mensagem">

            <form action="https://api.staticforms.xyz/submit" method="post">
                <div class="formu">
                    <input type="hidden" name="accessKey" value="a05c907c-8ed3-4966-9cd1-9655a2a765ca">
                    <label><strong>Nome</strong></label>
                    <input type="text" maxlength="50" placeholder="Digite seu nome" name="name" required/>
                </div>
                <div class="formu">
                    <label><strong>Telefone</strong></label>
                    <input type="text" maxlength="20" placeholder="Digite seu número de telefone" name="phone" required/>
                </div>
                <div class="formu">
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" maxlength="50" placeholder="Digite seu email" name="email" id="email" required/>
                </div>
                <div class="formu">
                    <label><strong>Mensagem</strong></label>
                    <textarea rows="10" maxlength="800" placeholder="Digite sua mensagem" name="message" required></textarea>
                    <input type="hidden" name="redirectTo" value="https://rjm-contabil.herokuapp.com/obrigado">
                </div>
                <div class="formu">
                    <input type="submit" value="Enviar">
                </div>
            </form>

        </section>

    </section>

</body>
    {% endblock %}
